<div class="main-chat__header">
    <div class="main-chat__header__room">hogefuga</div>
    <div class="main-chat__header__quit">
        <a href="#">チャットを終了する</a>
    </div>
</div>
<div class="main-chat__messages">
    <div class="main-chat__message">
        <div class="main-chat__message-upper">
            <div class="main-chat__message__name">Tom</div>
            <div class="main-chat__message__date">2020/3/31(Wed) 12:43:30</div>
        </div>
        <div class="main-chat__message-lower">
            <div class="main-chat__message__chat">おはよう</div>
        </div>
    </div>
    <div class="main-chat__message">
        <div class="main-chat__message-upper">
            <div class="main-chat__message__name">Sim</div>
            <div class="main-chat__message__date">2020/3/31(Wed) 12:43:30</div>
        </div>
        <div class="main-chat__message-lower">
            <div class="main-chat__message__chat">こんばんは</div>
        </div>
    </div>
</div>
<div class="main-chat__form">
    <div class="main-chat__form__message-area">
        <input type="text" placeholder="type a message" class="main-chat__form__message">
        <label class="form-image">
            <span class="image-file">画像</span>
            <input type="file" class="hidden">
        </label>
    </div>
    <div class="main-chat__form__send">
        <input type="submit" value="送信" class="main-chat__form__send-btn">
    </div>
</div>