<div class="main-chat__message">
  <div class="main-chat__message-upper">
    <div class="main-chat__message__name">
      <%= message.user.name %>
    </div>
    <div class="main-chat__message__date">
      <%= message.created_at %>
    </div>
  </div>
  <div class="main-chat__message-lower">
    <div class="main-chat__message__chat">
      <%= message.content %>
    </div>
  </div>
</div>