<div class="wrapper">
  <div class="side-bar">
    <div class="side-bar__header">
      <div class="side-bar__header__user">
        <a href="#">Kari</a>
      </div>
      <div class="side-bar__header__room-make">
        <a href="#"> チャットを作成する</a>
      </div>
    </div>
    <div class="side-bar__rooms">
      <div class="side-bar__rooms__room">
        <a href="#">techroom1</a>
      </div>
      <div class="side-bar__rooms__room">
        <a href="#">techroom2</a>
      </div>
    </div>
    <%= render "side_bar" %>
  </div>
  <div class="main-chat">
    <div class="main-chat__header"></div>
    <div class="main-chat__messages"></div>
    <div class="main-chat__form"></div>
    <%= render "main_chat" %>
  </div>
</div>